body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

ul, li, a {
  all: unset;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
  padding: 0.5rem 1rem;
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  z-index: 2;
}
header .logo {
  font-size: 1.8rem;
  font-weight: 700;
  cursor: pointer;
  letter-spacing: 3px;
}
header nav {
  font-size: 1rem;
  font-weight: 600;
}
header nav ul {
  display: flex;
  gap: 2rem;
}
header nav ul a {
  cursor: pointer;
}
header nav ul a:hover {
  color: rgb(42, 139, 237);
}
header .menu-wrapper {
  display: flex;
  gap: 2rem;
  align-items: center;
  font-size: 1.8rem;
}
header .menu-wrapper .globe {
  cursor: pointer;
}
header .menu-wrapper .burger-button {
  all: unset;
  background-color: transparent;
  cursor: pointer;
  font-size: larger;
}

main {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  padding: 0.5rem 1rem 4rem 1rem;
  height: 100%;
  position: relative;
  overflow: hidden;
  background-color: rgb(249, 249, 249);
}
main .title {
  display: flex;
  align-items: center;
  height: 11rem;
  width: 100%;
  justify-content: space-between;
}
main .title h6 {
  width: 13%;
  margin-top: 0;
  font-style: italic;
}
main .title h1 {
  display: flex;
  height: 100%;
  margin: 0;
  font-size: 3.5rem;
  font-weight: 800;
  align-items: end;
  width: 30%;
}
main .title .arrow {
  all: unset;
  cursor: pointer;
  height: 100%;
  width: 30%;
  display: flex;
  justify-content: flex-end;
  align-items: end;
  font-size: 4rem;
}
main .title .arrow .fa-solid {
  text-align: right;
}
main .card-wrapper {
  padding-top: 3rem;
  padding-bottom: 2rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}
main .card-wrapper .card {
  display: flex;
  flex-direction: column;
  height: 47rem;
  padding: 1rem;
  background-color: rgb(240, 240, 240);
  margin-top: 0.5rem;
}
main .card-wrapper .card .card-image {
  width: 100%;
}
main .card-wrapper .card .card-image img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .card-wrapper .card .text-content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  gap: 2rem;
}
main .card-wrapper .card .text-content-wrapper .paragraph {
  font-size: 1.5rem;
  font-weight: 700;
}
main .card-wrapper .card .text-content-wrapper .date {
  margin-bottom: 1rem;
}
main .load-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  height: 4rem;
  width: 100%;
  background-color: rgb(42, 139, 237);
  border: none;
  padding-left: 1rem;
  font-size: 1.5rem;
  margin-top: 2rem;
  cursor: pointer;
}
main .load-button:hover {
  background-color: rgb(20, 69, 118);
}
main .load-button img {
  width: 3rem;
  height: 100%;
}
main h2 {
  font-size: 2.8rem;
  padding-top: 4rem;
}
main .publication {
  padding-top: 1rem;
  padding-bottom: 2rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}
main .publication .cube {
  position: relative;
  height: 0;
  width: 100%;
  padding-top: 100%;
  background-color: rgb(42, 139, 237);
}
main .publication .cube .cube-contents {
  position: absolute;
  top: 0;
  padding: 1rem;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  box-sizing: border-box;
  width: 100%;
}
main .publication .cube .cube-contents .logo {
  font-size: 1.8rem;
  font-weight: 700;
  cursor: pointer;
  letter-spacing: 3px;
  color: white;
}
main .publication .cube .cube-contents h2 {
  font-size: 3rem;
}
main .publication .cube .cube-contents .p-buton-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
main .publication .cube .cube-contents .p-buton-container button {
  all: unset;
  height: 3rem;
  width: 5rem;
  cursor: pointer;
}
main .publication .cube .cube-contents .p-buton-container button img {
  width: 90%;
  height: 90%;
}
main .publication .seismic {
  background-color: rgb(0, 0, 0);
}

@media (max-width: 768px) {
  nav {
    display: none;
  }
  .globe {
    display: none;
  }
  h6 {
    display: none;
  }
  .hidden {
    display: none !important;
  }
  .card {
    height: 40rem !important;
  }
}
@media (min-width: 992px) {
  .card-wrapper {
    grid-template-columns: 1fr 1fr !important;
  }
  .card {
    flex-direction: row !important;
    height: 25rem !important;
    gap: 1.5rem;
  }
  .card img {
    height: 100% !important;
  }
  .publication {
    grid-template-columns: 1fr 1fr !important;
  }
  .load-button {
    width: 30% !important;
    align-self: center;
  }
  h2 {
    align-self: center;
    position: relative;
    left: -50px;
    padding-top: 8rem !important;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .card-image {
    min-width: 60%;
  }
}
@media (min-width: 992px) and (min-width: 1200px) {
  .card-image {
    max-width: 40% !important;
  }
}
@media (min-width: 992px) and (max-width: 640px) {
  h1 {
    width: 70% !important;
  }
}/*# sourceMappingURL=styles.css.map */