$mainColorgrey: rgb(249, 249, 249);
@mixin flex-gap {
    display: flex;
    gap:2rem;
}
body{
    margin:0;
    font-family: 'Roboto', sans-serif;
    
}

ul, li, a{

    all:unset;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2rem;
    padding: 0.5rem 1rem;
    background-color: white;
    position: fixed;
    top:0;
    width: 100%;
    box-sizing: border-box;
    
    .logo{
        font-size: 25px;
        font-weight: 700;
        cursor: pointer;
    }
    nav{
        font-size: 1rem;
        font-weight: 600;
        ul{
            @include flex-gap();
        }
    }
    .menu-wrapper{

        @include flex-gap();
        align-items: center;

        .burger-button{
            all:unset;
            background-color: transparent;
            cursor: pointer;
            font-size: larger;
        }
    }
    



}

@media (max-width: 768px){
nav{
    display:none;
}
.globe{
    display:none;
}
}